.overlayKA {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.popup_Kai_Angel {
    display: none;
    position: fixed;
    top: 40%;
    left: 25%;
    right: 25%;
    /* transform: translate((-50%, -50%)); */
    background: #fff;
    padding: 20px;
    border: #000 solid 2px;
    border-radius: 25px;
    box-shadow: 3px 3px 20px 3px;
}

.popup_Kai_Angel h2 {
    margin-top: 0;
}

.close_Kai_Angel {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
}
.YM_KA {
    display: flex;
    max-height: 10vh;
    align-items: flex-start; 
}
.YM_KA > img {
    max-height: 10vh;
}
.YM_KA > .YM_KA__link {
    margin-left: 3%;
}
.YM_KA > .YM_KA__link > h3 {
    display: flex;
    margin: 0 0 2vh 0;
}
.YM_KA > .YM_KA__other_link {
    margin-left: 3%;
}
.YM_KA > .YM_KA__other_link > h4 {
    display: flex;
    margin: 0 0 0 0;
}
